VITE_SUPABASE_URL=https://spjssckqvnbkoclmootk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwanNzY2txdm5ia29jbG1vb3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMTY4ODYsImV4cCI6MjA4OTc5Mjg4Nn0.LoeoYvIJ96UX0sGwufz4LHRUV_PrBVDVLCG9Xl1wEGs

RESEND_API_KEY=re_KYM8mgyd_7occEvDDSt2qgZxqkWdaYjMo